<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ja">
<head>
  <title>Posts List</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>

<!-- 新規投稿ページへのリンク -->
<a th:href="@{/api/posts/new}">
  <button>Create New Post</button>
</a>

<h1>Posts List</h1>
<table>
  <thead>
  <tr>
    <th>Title</th>
    <th>Content</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="post : ${posts}">
    <td th:text="${post.title}"></td>
    <td th:text="${post.content}"></td>
  </tr>
  </tbody>
</table>
</body>
</html>
